playername
antonio brown
odell beckham jr
david johnson
julio jones
ezekiel elliott
deandre hopkins
lamar miller
a.j. green
rob gronkowski
adrian peterson
leveon bell
allen robinson
brandon marshall
keenan allen
dez bryant
mike evans
jordy nelson
aaron rodgers
alshon jeffery
devonta freeman
brandin cooks
mark ingram
sammy watkins
t.y. hilton
amari cooper
cam newton
lesean mccoy
jamaal charles
doug martin
demaryius thomas
c.j. anderson
russell wilson
jordan reed
latavius murray
demarco murray
randall cobb
carlos hyde
donte moncrief
thomas rawls
jarvis landry
julian edelman
drew brees
matt forte
eric decker
andrew luck
jeremy hill
jonathan stewart
doug baldwin
danny woodhead
golden tate
greg olsen
michael floyd
jeremy langford
melvin gordon
frank gore
desean jackson
michael crabtree
marvin jones jr
john brown
kelvin benjamin
travis kelce
giovani bernard
denanie walker
willie snead
allen hurns
jordan matthews
larry fitzgerald
emmanuel sanders
carson palmer
sterling shephard
broncos
seahawks
tom brady
josh gordon
ryan matthews
duke johnson jr
matt jones
arian foster
zach ertz
tyrod taylor
stefon diggs
julius thomas
blake bortles
deangelo williams
eli manning
gary barnidge
antonio gates
vincent jackson
tyler eifert
ameer abdullah
rashad jennings
legarrette blount
chris ivory
derrick henry
chris ivory
derrick henry
devin funchess
kirk cousins
phillip rivers
devante parker
andy dalton
tavon austin
justin forsett
isaiah crowell
charles sims
terrance west
corey coleman
stephen gostkowski
michael thomas
matthew stafford
jay ajayi
theo riddick
bilal powell
martellus bennett
tajae sharpe
darren sproles
jameis winston
torrey smith
panthers
travis benjamin
kamar aiken
sammie coates
mohamed sanu
rams
mike wallace
markus wheaton
will fuller
derek carr
justin tucker
texans
tevin coleman
james starks
marcus mariota
matt ryan
jesse james
phillip dorsett
jared cook
ryan fitzpatrick
jordan howard
deandre washington
jerick mckinnon
rishard matthews
tyler ervin
virgil green
anquan boldin
kenneth dixon
eric ebron
jimmy graham
chiefs
bengals
ryan tannehill
james jones
patriots
zach miller
packers
charles clay
graham gano
c.j. spiller
joe flacco
pierre garcon
devontae booker
laquon treadwell
eagles
vikings
oakland
brandon lafell


